<div id="container">
  <header>
  </header>
  <div id="main" role="main">
    <div id="contacts">
    </div>
  </div>
  <div id="contacts"></div>

  <a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>
  <div class="modal hide" id="myModal" style="width:250px;height:340px">
    <div class="row-fluid">
      <div style="margin-left:30px">
        <img class="thumbnail" style="" width="85%" src="http://www.gravatar.com/avatar/48986aabbdbcdeacdbc3a6dc2945a9ff.png">
        <div class="caption">
          <h3 style="margin-top:5px;margin-bottom:2px" >Fred Liang</h3>
          <p style="margin-right: 25px">Fred is a nice person, if you have anything trouble, please come to him. If you are a girl, that is better!</p>
          <p>
            <a href="tel:+8612345678" style="margin-right:2px" class="btn btn-info">&nbsp;&nbsp;&nbsp;Call&nbsp;&nbsp;&nbsp;</a>
            <a href="sms:+8612345678" class="btn btn-success">Message</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer>

  </footer>
</div> <!--! end of #container -->

<div id="contacts"></div>
