<div id="container">
  <header>
  </header>
  <div id="main" role="main">
    <ul class='thumbnails'>
      <li class='span2'>
        <div class='thumbnail'>
          <img class='iphone-no-retina'  src='lay.png'></img>
        </div>
      </li>
    </ul>
  </div>

  <footer>

  </footer>
</div> <!--! end of #container -->

<div id="contacts"></div>