// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background: black url(/assets/dark_Tire_@2X.png) left top repeat;
  background-size: 250px 250px;

  body {
    background-color: transparent;
    padding: 0;
  }
}

.invisible {
  visibility: hidden;
}

#startup-splash {
  background: #000 left top repeat;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  height: 200px;
  width: 200px;
  text-indent: 250px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-mask-image: url(/assets/spinner.png);
  background-color: #fff;
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#contacts {
  text-align:center;
}

.contact {
  display: inline-block;
  -webkit-border-radius: 43px;
  -webkit-box-shadow: 0 0 10px 4px rgba(255,255,255,0.3);;
  width: 86px;
  height: 86px;
  -webkit-background-size: cover;
  position: relative;
  margin: 6px;
  overflow: hidden;

  img {
    display: none;
  }
}

span.name {
  display: none;
}

div.popup {
  position: fixed;
  margin: auto auto;
  top: 25px;
  width:250px;
  min-height:250px;
  padding-bottom: 10px;
}
