// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contacts {
  text-align:center;
}

.contact {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  margin: 3px;
}

span.name {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 25px;
  text-align: center;
  background: rgba(255, 255, 255, .2);
}
